textarea {
	max-height: 95px;
    overflow: auto;
}

a[href$='phenomine_report.txt'] {
background:transparent url(excel.png) center left no-repeat;
display:inline-block;
padding-left:20px;
line-height:15px;
float:right;
}

span.match {
    font-weight: bold;
}

.logo #logo {
    display: block;
    margin-top: 2em;
	margin-bottom: 2em;
}

#form {
	margin-top: 2em;
	margin-bottom: 2em;
}