textarea {
	height: 19px;
	max-height: 95px;
    overflow: auto;
}

a[href$='phenomine_report.txt'] {
/*background:transparent url(excel.png) center left no-repeat;*/
display:inline-block;
padding-left:20px;
line-height:15px;
float:right;
}
.logo #logo { margin-top: 2em; }
#form {	margin-bottom: 2em; }
.dataTables_info { margin-bottom:0.5em; }

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../datatables/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../datatables/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../datatables/images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../datatables/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../datatables/images/sort_desc_disabled.png') no-repeat center right; }

