body {
  background-color: #fff;
  font-size:90%;
}

textarea {
    width: 180px;
    height: 80px;
    overflow: auto;
}

a[href$='phenomine_report.txt'] {
background:transparent url(excel.png) center left no-repeat;
display:inline-block;
padding-left:20px;
line-height:15px;
float:right;
}

span.omim {
    font-family: 'palatino linotype', palatino, serif;
    color: #9ACF74;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2pt;
    word-spacing: 0pt;
}

span.ine {
    font-family: 'palatino linotype', palatino, serif;
    color: #E5ECF9;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2pt;
    word-spacing: 0pt;
}

span.match {
    font-weight: bold;
}

.logo #logo {
    display: block;
    margin-top: 1em;
}
#main {
    margin-top: 1em;
}

.mining {
    margin-top: 50px;
}
